// Custom color variables
$color-primary: hsl(12, 88%, 59%);
$color-secondary: hsl(228, 39%, 23%);

$color-neutral-grey-blue: hsl(227, 12%, 61%);
$color-neutral-dark-blue: hsl(233, 12%, 13%);
$color-neutral-pale-red: hsl(13, 100%, 96%);
$color-neutral-light-grey: hsl(0, 0%, 98%);