*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 50%; }
  @media only screen and (min-width: 48em) {
    html {
      font-size: 62.5%; } }

body {
  font-size: 1.6rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  background-color: #fafafa;
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize; }

.btn-cta:link, .btn-cta:visited {
  color: #ffefeb;
  background-color: #f25f3a;
  padding: 1rem 2rem;
  border-radius: 100px;
  font-weight: 500;
  transition: all 0.4s;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1); }

.btn-cta:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1rem); }

.btn-cta:active {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.5rem); }

.btn-submit {
  background-color: #f25f3a;
  color: #fafafa;
  border: none;
  padding: 1rem 3rem;
  border-radius: 100px;
  font-weight: 700;
  transition: all 0.4s;
  box-shadow: inset 0 0 0 0.3rem #1d1e25;
  text-transform: uppercase; }
  .btn-submit:hover {
    transform: translateY(-1rem); }
  .btn-submit:active {
    transform: translateY(-0.5rem); }

.container {
  max-width: 100%;
  margin: 0 auto; }
  @media only screen and (max-width: 36em) {
    .container {
      padding-left: 2.4rem;
      padding-right: 2.4rem; } }
  @media only screen and (min-width: 36em) {
    .container {
      max-width: 540px; } }
  @media only screen and (min-width: 48em) {
    .container {
      max-width: 720px; } }
  @media only screen and (min-width: 62em) {
    .container {
      max-width: 960px; } }
  @media only screen and (min-width: 75em) {
    .container {
      max-width: 1140px; } }
  @media only screen and (min-width: 87.5em) {
    .container {
      max-width: 1320px; } }

.overlay::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1; }

.mainNav {
  position: fixed;
  width: 100%;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  max-height: 100vh;
  background-color: #fafafa;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
  z-index: 999; }
  @media only screen and (min-width: 62em) {
    .mainNav {
      height: 9.6rem; } }
  .mainNav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fafafa; }
  .mainNav__brand {
    position: relative;
    z-index: 9999; }
  .mainNav__img {
    width: 14.6rem;
    height: 2.4rem; }
  .mainNav__list {
    position: relative;
    display: flex;
    list-style: none;
    z-index: 9999;
    flex: 1 0 100%;
    flex-direction: column;
    text-align: center;
    row-gap: 5rem;
    height: 0;
    overflow: hidden;
    transition: all 0.4s; }
    @media only screen and (min-width: 62em) {
      .mainNav__list {
        height: auto;
        flex: 0 1 auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 4rem;
        overflow: visible; } }
  .mainNav__item {
    color: #1d1e25; }
  .mainNav__link {
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
    position: relative; }
    @media only screen and (min-width: 62em) {
      .mainNav__link::after {
        content: "";
        width: 0;
        height: 5px;
        background-color: #f25f3a;
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        z-index: -1;
        transition: all 0.4s; }
      .mainNav__link:hover::after {
        width: 100%; } }
  .mainNav__menuBtn {
    display: block;
    cursor: pointer; }
    @media only screen and (min-width: 62em) {
      .mainNav__menuBtn {
        display: none; } }
    .mainNav__menuBtn-icon {
      width: 30px;
      height: 3px;
      background-color: #1d1e25;
      position: relative;
      transition: all 0.4s ease-in-out; }
      .mainNav__menuBtn-icon::before, .mainNav__menuBtn-icon::after {
        position: absolute;
        content: "";
        background-color: #1d1e25;
        transition: all 0.4s ease-out;
        width: 100%;
        height: 100%; }
      .mainNav__menuBtn-icon::before {
        transform: translateY(-8px); }
      .mainNav__menuBtn-icon::after {
        transform: translateY(8px); }
  .mainNav__btn-cta:link, .mainNav__btn-cta:visited {
    display: none; }
    @media only screen and (min-width: 62em) {
      .mainNav__btn-cta:link, .mainNav__btn-cta:visited {
        display: block; } }
  .mainNav__menuBtn.active > .mainNav__menuBtn-icon {
    background-color: transparent; }
    .mainNav__menuBtn.active > .mainNav__menuBtn-icon::before {
      transform: rotate(135deg); }
    .mainNav__menuBtn.active > .mainNav__menuBtn-icon::after {
      transform: rotate(-135deg); }
  .mainNav__menuBtn.active ~ .mainNav__list {
    padding: 8rem 0;
    font-size: 2.8rem;
    height: 100vh;
    overflow-y: auto; }
    .mainNav__menuBtn.active ~ .mainNav__list .mainNav__item {
      padding-bottom: 1rem;
      border-bottom: 3px solid rgba(144, 149, 167, 0.3); }

main section:first-child {
  padding-top: 9.6rem; }

main section {
  padding: 4.8rem 0; }

.hero {
  padding-top: 15rem;
  width: 100%; }
  .hero__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; }
    @media only screen and (min-width: 75em) {
      .hero__container {
        grid-template-columns: repeat(2, 1fr); } }
  .hero__img {
    width: auto;
    max-height: 60rem;
    margin: 0 auto; }
    @media only screen and (min-width: 75em) {
      .hero__img {
        width: 100%;
        height: auto; } }
  .hero__textContent {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
    text-align: center; }
    @media only screen and (min-width: 75em) {
      .hero__textContent {
        order: -1;
        text-align: start;
        align-items: flex-start; } }
  .hero__heading {
    font-size: 6.4rem;
    font-weight: 700;
    color: #242d52; }
  .hero__text {
    font-size: 2.2rem;
    color: rgba(144, 149, 167, 0.7); }
  .hero__btn {
    margin-top: 3rem; }

.features__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 6rem; }
  @media only screen and (min-width: 75em) {
    .features__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 6rem; } }

.features__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.8rem;
  text-align: center; }
  @media only screen and (min-width: 75em) {
    .features__header {
      align-items: flex-start;
      text-align: start; } }

.features__heading {
  font-size: 4.8rem;
  color: #242d52;
  font-weight: 700; }

.features__text {
  color: rgba(144, 149, 167, 0.8);
  font-size: 1.8rem;
  line-height: 140%; }

.features__body {
  display: flex;
  flex-direction: column;
  row-gap: 5rem; }

.features__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  row-gap: 1rem; }
  @media only screen and (max-width: 36em) {
    .features__item {
      align-items: center; } }
  .features__item-number {
    font-weight: 700;
    font-size: 2.2rem;
    padding: 1rem 2.5rem;
    border-radius: 100px;
    background-color: #f25f3a;
    color: #fafafa; }
  .features__item-heading {
    color: #242d52;
    font-size: 2.2rem; }
  .features__item-text {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    color: rgba(144, 149, 167, 0.8);
    line-height: 140%; }
    @media only screen and (min-width: 36em) {
      .features__item-text {
        grid-column: 2 / 3; } }

.testimonials__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5rem;
  overflow-x: hidden; }

.testimonials__heading {
  text-align: center;
  font-size: 4.8rem;
  color: #242d52;
  font-weight: 700; }

.testimonials__body {
  position: relative;
  height: 35rem; }

.testimonials__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10rem 5rem 10rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  background-color: rgba(144, 149, 167, 0.05);
  transition: all .4s; }
  @media only screen and (min-width: 75em) {
    .testimonials__item {
      left: 25%;
      width: 50%; } }
  .testimonials__item-img {
    width: 10rem;
    margin-top: -12rem; }
  .testimonials__item-name {
    color: #242d52;
    font-size: 1.8rem;
    font-weight: 500; }
  .testimonials__item-text {
    color: #9095a7;
    line-height: 140%; }

.testimonials__slider-btnController {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  column-gap: 1rem; }
  @media only screen and (min-width: 36em) {
    .testimonials__slider-btnController {
      top: 75%; } }
  @media only screen and (min-width: 48em) {
    .testimonials__slider-btnController {
      top: 70%; } }

.testimonials__slider-btn {
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(144, 149, 167, 0.2);
  cursor: pointer;
  transition: all .4s; }
  .testimonials__slider-btn.active {
    background-color: #f25f3a; }

.testimonials__btn-cta {
  margin-top: -5rem;
  align-self: center; }
  @media only screen and (max-width: 36em) {
    .testimonials__btn-cta {
      margin-top: 0; } }

.cta {
  background-color: #f25f3a;
  overflow: hidden; }
  .cta__container {
    padding: 3rem 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem; }
    @media only screen and (min-width: 48em) {
      .cta__container {
        grid-template-columns: repeat(2, 1fr); } }
  .cta__heading {
    font-weight: 700;
    color: #fafafa;
    font-size: 4.8rem;
    text-align: center;
    z-index: 2; }
    @media only screen and (min-width: 48em) {
      .cta__heading {
        text-align: left; } }
  .cta__btn-cta:link, .cta__btn-cta:visited {
    z-index: 2;
    justify-self: center;
    align-self: center;
    background-color: #fafafa;
    color: #f25f3a; }
    @media only screen and (min-width: 48em) {
      .cta__btn-cta:link, .cta__btn-cta:visited {
        justify-self: flex-end; } }
  .cta__bg {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: scale(2);
    z-index: 1; }
    @media only screen and (min-width: 48em) {
      .cta__bg {
        top: 0%;
        left: 40%;
        transform: scale(2.5); } }

.footer {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #1d1e25; }

.secNav {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  column-gap: 5rem;
  row-gap: 5rem; }
  @media only screen and (min-width: 75em) {
    .secNav {
      grid-template-columns: 25rem 40rem 1fr; } }
  .secNav__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    order: 2;
    row-gap: 2rem;
    grid-column: 1 / -1; }
    @media only screen and (min-width: 75em) {
      .secNav__social {
        order: -1;
        grid-column: auto; } }
    .secNav__social-list {
      display: flex;
      list-style: none;
      column-gap: 1.5rem;
      order: -1; }
      @media only screen and (min-width: 75em) {
        .secNav__social-list {
          order: 2; } }
    .secNav__social-icon:hover {
      transform: translateY(-0.5rem);
      transition: all 0.4s; }
  .secNav__links-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    column-gap: 10rem;
    row-gap: 2rem;
    grid-column: 1 / -1; }
    @media only screen and (min-width: 75em) {
      .secNav__links-list {
        grid-column: auto; } }
  .secNav__links-link:link, .secNav__links-link:visited {
    text-decoration: none;
    color: #9095a7;
    text-transform: capitalize;
    transition: all .4s;
    position: relative; }
    .secNav__links-link:link::after, .secNav__links-link:visited::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 5px;
      background-color: #f25f3a;
      transform: translateY(1rem);
      transition: all .4s; }
  .secNav__links-link:hover::after {
    width: 100%; }
  .secNav__newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: -1;
    grid-column: 1 / -1; }
    @media only screen and (min-width: 48em) {
      .secNav__newsletter {
        grid-column: 2 / 6; } }
    @media only screen and (min-width: 75em) {
      .secNav__newsletter {
        order: 2;
        grid-column: auto; } }
    .secNav__newsletter-form {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 1rem;
      row-gap: 2rem;
      font-family: "Be Vietnam Pro", sans-serif; }
      @media only screen and (min-width: 48em) {
        .secNav__newsletter-form {
          grid-template-columns: 1fr 15rem; } }
    .secNav__newsletter-inputGroup {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      flex-grow: 1; }
    .secNav__newsletter-email {
      padding: 0.5rem 1rem; }
      .secNav__newsletter-email::placeholder {
        font-size: 1.2em;
        color: #9095a7; }
    .secNav__newsletter-inputFeedback-invalid {
      display: none;
      color: #f25f3a;
      font-size: 1.4rem; }
    .secNav__newsletter-inputFeedback-valid {
      display: none;
      color: green;
      font-size: 1.4rem; }
    .secNav__newsletter-formFeedback-success {
      display: none;
      color: yellow;
      font-size: 1.4rem; }
    .invalid .secNav__newsletter-inputFeedback-invalid {
      display: block; }
    .valid .secNav__newsletter-inputFeedback-valid {
      display: block; }
    .was-validated-success .secNav__newsletter-formFeedback-success {
      display: block; }
    .secNav__newsletter-copyright {
      color: #9095a7;
      text-transform: capitalize;
      position: absolute;
      bottom: -20%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center; }
      @media only screen and (min-width: 75em) {
        .secNav__newsletter-copyright {
          position: relative;
          text-align: left; } }
